rules_version = '2';
service firebase.storage {
 match /b/{bucket}/o {
  function signedIn(){return request.auth!=null;}
  function isAdmin(){return signedIn() && request.auth.uid=="ihSDHUk86DY8McVcLN7gjzt96Bm1";}
  match /admin-uploads/{allPaths=**}{
   allow read:true;
   allow write:if isAdmin() && request.resource!=null && request.resource.contentType.matches('image/.*') && request.resource.size < 5 * 1024 * 1024;
   allow delete:if isAdmin();
  }
  match /{allPaths=**}{allow read,write:false;}
 }
}
